.topbox {
    margin-left: 18px;
}

.citybox {
    margin: 15px 0;
    display: inline-block;
    width: 200px;
}

.warningbox {
    color: darkred;
}

.results {
    background-color: #f8f9fa;
    margin-left:18px;
    padding:18px;
}